// 默认标签样式修改 -- 开始
a.header-anchor {
    // background-color: #21332d;
}
li > p {
    margin: 0;
}
table {
    margin: 0 auto !important;
    width: auto !important;
}
thead, tbody {
}
thead tr {
    background-color: var(--theme-deep-blue) !important;
}
tr:nth-child(2n) {
    background-color: var(--theme-blue) !important;
}




// 标题样式 -- 开始
.straight-line {
    background-image: linear-gradient(to bottom , #7A88FF, #7AFFAF);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 3px;
    padding-bottom: 2px;
}

h2, h3 {
    // background-image: linear-gradient(to right , var(--theme-grey), transparent 80%);
    // background-position: 0% 100%;
    // background-size: 40% 10%;
    // background-repeat: no-repeat;
    position: relative;
    padding: 5px 5px 5px !important;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid var(--theme-grey);
}

h2::after, h3::after, h4::after  {
    position: absolute;
    bottom: 5px;
    right: 5px;
    justify-content: center;
    align-items: center; 
    display: -webkit-flex;
    border-radius: 3px;
    padding: 0 5px;
}

h2::after {
    content: 'H2';
}

h3::after {
    content: 'H3';
}

h4::after {
    content: 'H4';
}
// 标题样式 -- 结束

// 默认标签样式修改 -- 结束




// ==========================================================================================================



// 文章样式 -- 开始
.main-content {
}

.theme-hope-content {
    position: relative;
    // border-left: 1px solid var(--theme-grey);
    // border-right: 1px solid var(--theme-grey);
    overflow: hidden;
    margin-top: 20px !important;
}

// .page-title {
//     // width: var(--content-width);
//     padding-bottom: 20px;
//     border-bottom: 1px solid var(--theme-grey);
// }

.sidebar-links .router-link-active {
    background-color: var(--deep-theme-color) !important;
}

// hr {
//    display: none;
// }


#toc {
    width: 500px !important;
}

.theme-hope-content > p {
    position: relative;
    display: block;
    // margin-block-start: .7em;
    // margin-block-end: .7em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    margin: .8em 0 !important;
    font-size: 16px;
}

.theme-hope-content > ul, ol {
    position: relative;
    display: block;
    // margin-block-start: .7em;
    // margin-block-end: .7em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    margin: .8em 0px !important;
}

.theme-hope-content > ul li, ol li {
    margin: 0 0 .5em !important;
}

// .theme-hope-content > p::after {
//     // content: '\2725';
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 50%;
//     transform: translate(0, -50%);
//     justify-content: center;
//     align-items: center; 
//     display: -webkit-flex;
//     width: 10px;
//     height: 100%;
//     border-radius: 2px;
//     background-color: #333333;
// }

// p, ul, ol {
//     line-height: 1.5;
//     overflow-wrap: break-word;
// }

.theme-hope-content > img {
    box-shadow: 0px 0px 20px -5px #0e0e0eac !important;
}

.header-anchor {
    left: 40px;
}

.custom-container-title {
    width: auto;  
    border-bottom: 1px #1d1e1f solid;
}

.custom-container {
    position: relative;
    padding: 1px 10px;
    border-radius: 5px;
    background-color: #7f8ca6;
    color: #1d1e1f;
}

.custom-container::after {
    content: '';
    position: absolute;
    border-radius: 3px 0 0 3px;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: var(--deep-theme-color);
}

.table-of-contents {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--theme-grey);
    margin-top: 20px !important;
}

.table-of-contents li {
    border-top: 1px dashed var(--theme-grey);
    margin-top: 2px;
    padding-top: 2px;
}


.table-of-contents .router-link-exact-active {
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.table-of-contents .router-link-exact-active:hover {
    background-color: var(--deep-theme-color);
    padding: 0 20px;
}


.sidebar-links {
    // border-left: 1px solid var(--theme-grey) !important;
}


// 图片 -- 开始
figure {
    // border: 1px solid var(--theme-grey);
    // padding: 20px 10px 10px;
    // border-radius: 5px;
    margin-bottom: 50px !important;
}

figcaption {
    display: none !important;
}
// 图片 -- 结束



// 标记样式 -- 开始
mark {
    background-color: var(--deep-theme-color);
    padding: 2px 7px;
    border-radius: 5px;
    color: var(--theme-white);
}

.em {
    background-color: var(--theme-red);
    padding: 2px 7px;
    border-radius: 5px;
    color: var(--theme-white);
}
// 标记样式 -- 结束



// mermaid -- 开始
.mermaid-wrapper {
    background-color: var(--theme-blue);
    border-radius: 3px;
    margin: 20px 0;
}
// mermaid -- 结束



// 文章样式 -- 结束





// markdown -- 开始
.table-wrapper {
    // display: flex;
    // width: 100%;
    // justify-content: flex-start;
    // align-items: center;
    margin-top: 10px;
} 

// markdown -- 结束


// 主页 -- 开始
.project-panel {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg-color-secondary);
    box-shadow: 0 0 1px 1px var(--card-shadow);
}
// 主页 -- 结束