// 默认标签样式修改 -- 开始
a.header-anchor {
    // background-color: #21332d;
}

a:hover {
    color: var(--theme-color-light);
}

.theme-hope-content a {
    color: var(--theme-blue-light) !important;
}

.table-of-contents a {
    color: var(--theme-grey-light) !important;
}

.theme-hope-content > ul, .theme-hope-content > ol {
    border: 1px dashed var(--theme-grey);
    border-radius: 2px;
    padding: 5px 1rem 5px 2rem;
}

.theme-hope-content > p {
    position: relative;
    display: block;
    margin: .8em 0 !important;
    padding: 0.2rem 0.8rem;
    // border-radius: 2px;
    // border: 1px solid var(--theme-grey);
    font-size: 16px;
}

.theme-hope-content > ul, ol {
    position: relative;
    display: block;
    margin: .8em 0px !important;
}

.theme-hope-content > ul li, ol li {
    margin: 0 0 .5em !important;
}

.theme-hope-content > img {
    box-shadow: 0px 0px 20px -5px #0e0e0eac !important;
}

.table-of-contents > ul, ol {

}

blockquote {
    position: relative;
    border-left: 0.5rem solid #333333 !important;
    background-color: #454545;
    padding: 20px;
    color: var(--theme-color-light);
    font-weight: bold;
    width: auto;
}
blockquote::before {
    color: var(--theme-color-light);
    content: "\201C";
    position:absolute;
    font-size: 30px;
    left: 8px;
    top: 15px;
    line-height: 0.1em;
}
blockquote::after {
    color: var(--theme-color-light);
    content: "\201D";
    position:absolute;
    font-size: 2rem;
    right: 8px;
    bottom: 15px;
    line-height: 0.1em;
}

strong {
    color: var(--theme-color);
}

li > p {
    margin: 0;
}

table {
    margin: 0 auto !important;
    width: auto !important;
}

thead, tbody {
}

thead tr {
    background-color: var(--theme-deep-blue) !important;
}

tr:nth-child(2n) {
    background-color: var(--theme-blue) !important;
}




// 标题样式 -- 开始
.straight-line {
    // background-image: linear-gradient(to bottom , #7A88FF, #58309e);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 3px;
    padding-bottom: 2px;
}

.theme-hope-content h1, 
.theme-hope-content h2, 
.theme-hope-content h3, 
.theme-hope-content h4, 
.theme-hope-content h5, 
.theme-hope-content h6 {
    color: var(--theme-color);
}

.blog-hero h1 {
    color: white !important;
}

.theme-hope-content h2, 
.theme-hope-content h3 {
    // background-image: linear-gradient(to right , var(--theme-grey), transparent 80%);
    // background-position: 0% 100%;
    // background-size: 40% 10%;
    // background-repeat: no-repeat;
    position: relative;
    padding: 5px 5px 5px !important;
    margin-top: 55px !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid var(--theme-grey);
}

.theme-hope-content h2::after, 
.theme-hope-content h3::after, 
.theme-hope-content h4::after  {
    position: absolute;
    bottom: 5px;
    right: 5px;
    justify-content: center;
    align-items: center; 
    display: -webkit-flex;
    border-radius: 3px;
    padding: 0 5px;
}

.theme-hope-content h2::after {
    content: 'H2';
}

.theme-hope-content h3::after {
    content: 'H3';
}

.theme-hope-content h4::after {
    content: 'H4';
}
// 标题样式 -- 结束

// 默认标签样式修改 -- 结束


// ==========================================================================================================

// 文章样式 -- 开始
.main-content {
}

.theme-hope-content {
    position: relative;
    // border-left: 1px solid var(--theme-grey);
    // border-right: 1px solid var(--theme-grey);
    overflow: hidden;
    margin-top: 20px !important;
}

// .page-title {
//     // width: var(--content-width);
//     padding-bottom: 20px;
//     border-bottom: 1px solid var(--theme-grey);
// }

#toc {
    width: 500px !important;
}

.header-anchor {
    left: 40px;
}

.custom-container-title {
    width: auto;  
    border-bottom: 1px #1d1e1f solid;
}

.custom-container {
    position: relative;
    padding: 1px 10px;
    border-radius: 5px;
    background-color: #7f8ca6;
    color: #1d1e1f;
}

.custom-container::after {
    content: '';
    position: absolute;
    border-radius: 3px 0 0 3px;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: var(--theme-color);
}

.table-of-contents {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--theme-grey);
    margin-top: 20px !important;
}

.table-of-contents li {
    border-top: 1px dashed var(--theme-grey);
    margin-top: 2px;
    padding-top: 2px;
}


.table-of-contents .router-link-exact-active {
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

.table-of-contents .router-link-exact-active:hover {
}


.sidebar-links {
    // border-left: 1px solid var(--theme-grey) !important;
}


// 图片 -- 开始
figure {
    // border: 1px solid var(--theme-grey);
    // padding: 20px 10px 10px;
    // border-radius: 5px;
    margin-bottom: 50px !important;
    border: 1px solid var(--theme-grey);
    border-radius: 2px;
    padding: 15px 5px;
}

figcaption {
    display: none !important;
}
// 图片 -- 结束



// 标记样式 -- 开始
mark {
    background-color: var(--theme-grey);
    padding: 4px 8px;
    border-radius: 2px;
    color: var(--theme-white);
    box-sizing: border-box;
}

.em {
    background-color: var(--theme-red);
    padding: 2px 7px;
    border-radius: 5px;
    color: var(--theme-white);
}
// 标记样式 -- 结束



// mermaid -- 开始
.mermaid-wrapper {
    background-color: var(--theme-color);
    border-radius: 5px;
    margin: 20px 0;
    border: 1px solid var(--theme-grey);
}
// mermaid -- 结束



// 文章样式 -- 结束


// 侧边栏
.sidebar-links a.active {
    background-color: transparent !important;
    border: 1px dashed var(--theme-color);
}

// 面包屑
li.is-active {
    background-color: transparent !important;
    border: 0px solid transparent !important;
}



// markdown -- 开始
.table-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    border: 1px solid var(--theme-grey);
    padding: 10px 0;
    border-radius: 3px;
} 

// markdown -- 结束


// 主页 -- 开始
.project-panel {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--bg-color-secondary);
    box-shadow: 0 0 1px 1px var(--card-shadow);
}
// 主页 -- 结束


.hide-container {
    display: none;
}

// #toc {
//     position: relative;
// }

// // 右侧导航栏
// #toc::before {
//     position: absolute;
//     display: flex;
//     content: "";
//     height: calc(100% - 44px);
//     width: 10px;
//     text-align: center;
//     align-items: center;
//     bottom: 0;
//     right: -20px;
//     justify-content: center;
//     padding: 2px;
//     border-right: 1px solid var(--theme-grey);
//     color: var(--theme-grey);
//     z-index: 999;
// }

// #toc:hover::before {
//     content: ">";
//     border: 1px solid var(--theme-grey);
//     border-top: none;
//     border-bottom: none;
//     cursor: pointer;
//     transition: all 5s ease-in-out;
//     color: var(--theme-white) !important;
// }


.auto-catalog-wrapper .main-title {
    display: none;
}

.auto-catalog-wrapper h3 {
    text-decoration: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0;
}

.auto-catalog-wrapper h3::after {
    content: '' !important;
}

.auto-catalog-wrapper ul {
    margin-left: 1rem !important;
    list-style-type: none;
}

.auto-catalog-wrapper li {
    
}