ul, ol {
    border: none !important;
    padding: 0 !important;
    padding-left: 25px !important;
}
p {
    padding: 0 !important;
    margin: 0 !important;
    font-weight: bold;
    margin-block-start: 0 !important;
}
.entry-content p {
    text-indent: -5px !important;
}
strong {
    color: #ff866d;
    font-size: 18px;
}
strong::before {
    content: '\27BD\00A0';
}

.is-active-link {
    color: #ff866d !important;
}

blockquote {
    margin: 0;
    position: relative;
    padding:  10px 10px 10px 30px !important;
    background: #f9f9f9;
}
blockquote:before {
    content: '' !important;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    width: 5px;
    height: 100%;
    background-color: #ff866d;
}
blockquote:after {
    content: '' !important;
}